body {
  background-color: black;
  font-family: "system-ui";
  color: white;
}
.main-container {
  width: 750px;
  margin: 40px auto;
  padding: 20px 40px;
}

.search-container {
  display: flex;
}
.search-box {
  color: gray;
  background-color: lightgray;
  border: none;
  width: 65%;
  padding: 15px 24px;
  margin: 0px;
}
.search-btn {
  color: black;
  background-color: red;
  width: 35%;
  padding: 15px 24px;
  margin: 0px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.search-box:focus {
  border: none;
  outline: none;
}
.output-container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0px auto;
}
#poster {
  width: 300px;
  height: 350px;
  /* object-fit: cover; */
}
h2 {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin: 0px;
}
span {
  font-size: 15px;
  color: rgba(250, 249, 246, 0.74);
}
p {
  font-size: 18px;
  color: white;
}
.hidden {
  visibility: hidden;
}
.remove{
    display: none;
}
.footer{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50vw;
}
.copyright {
  font-size: 10px;
  color: gray;
}
#not{
        margin: 20px auto;
}
/* hover */
.search-btn:hover {
  background-color: orangered;
}
